@use '@/scss/_vars.scss' as *;

.button {
  position: relative;
  display: flex;
  gap: 0.5rem;
  background-color: $primary-c;
  width: fit-content;
  padding: 0.75rem 1.25rem;
  border-radius: $br-sm;
  font-size: 1rem;
  font-weight: 500;
  color: $white-c !important;
  cursor: pointer;

  user-select: none;  
  -webkit-user-select: none; 
  -moz-user-select: none;   
  -ms-user-select: none;     

  &:hover {
    background-color: #2e75dfed;
  }
}
