@use '@/scss/_vars.scss' as *;
@use '@/scss/_mixins.scss' as *;

.title {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
  color: $title-c;
  @include media(md) {
    font-size: 2.5rem;
  }
  @include media(sm) {
    font-size: 2rem;
    line-height: 1.2;
  }
}
