@use '@/scss/_vars.scss' as *;
@use '@/scss/_mixins.scss' as *;

.request {
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
  }

  &-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &-image {
    padding: 5rem 2.5rem;
  }

  &-heading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & > p {
      font-size: 0.875rem;
      color: $primary-c;
    }
  }

  &-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
  }

  @include media(lg) {
    &-image {
      padding: 4.375rem 2.188rem;
      & img {
        max-width: 15.688rem; // 251px
      }
    }
  }

  @include media(md) {
    &-inner {
      flex-direction: column-reverse;
      gap: 0;
    }

    &-heading {
      align-items: center;
    }

    &-image {
      padding: 2rem 1rem;
      & img {
        max-width: 6.875rem; // 110px
      }
    }

    &-button {
      align-self: center;
    }
  }

  @include media(sm) {
    &-fields {
      grid-template-columns: 1fr;
    }
  }
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &-label {
    font-size: 0.75rem;
    font-weight: 500;
    color: $title-c;
  }

  &-require {
    color: $primary-c;
  }

  &-field {
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
    border-radius: $br-sm;
    border: 1px solid transparent;
    background-color: $field-c;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    &::placeholder {
      color: #787d83;
    }

    &:focus {
      outline: none;
      border-color: $primary-c;
      box-shadow: 0 0 0 3px rgba($primary-c, 0.2);
    }
  }

  &:nth-child(3) {
    grid-column: 1/3;
  }

  @include media(sm) {
    &:nth-child(1),
    &:nth-child(2) {
      grid-column: 1/3;
    }
  }

  &.invalid .input-field {
    border-color: $error-c;
  }

  &-error {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    color: $error-c;
  }
}

textarea {
  resize: none;
  font-family: 'Open Sans', sans-serif; 
  height: 7.188rem; // 115px
  line-height: 1.4;
  @include media(sm) {
    height: 8.438rem; // 135px
  }
}

.honeypot {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}