@use '@/scss/_vars.scss' as *;
@use '@/scss/_mixins.scss' as *;

.footer {
  padding: 4rem 0;
  background-color: $footer-c;

  &-head {
    @include flex-between;
    margin-bottom: 4rem;
  }

  &-nav {
    @include flex-between;
    max-width: 480px;
    width: 100%;
  }

  &-group {
    display: flex;
    gap: 2.5rem;
  }

  &-link {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 500;
    color: $white-c;
    border-radius: $br-sm;
    &:hover {
      color: #ffffffcd;
    }
    &:visited {
      color: $white-c;
      opacity: 0.5;
    }
  }

  @include media(md) {
    &-head {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 2.5rem;
    }

    &-nav {
      max-width: 100%;
    }
  }

  @include media(sm) {
    &-head {
      align-items: center;
    }

    &-nav {
      width: 100%;
      flex-direction: column;
      gap: 2.5rem;
    }
  }
}

.seo {

  &-title {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3;
    color: #FFFFFF80;
  }

  &-text {
    font-size: 0.875rem;
    line-height: 1.3;
    color: #FFFFFF80;
  }


  &:last-child {
    margin-top: 1rem;
  }
}