@use 'sass:map';
@use './breakpoints' as *;

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin media($size) {
  @media (max-width: map.get($breakpoints, $size)) {
    @content;
  }
}