$ff-base: 'OpenSans', sans-serif;

$br-sm: 0.5rem; // 8px
$br-md: 2.5rem; // 40px

$primary-c: #2e75df;
$bg-c: #f8f8f9;
$title-c: #222831;
$text-c: #676C73;
$white-c: #ffffff;
$error-c: #e74c3c;
$field-c: #2e75df0d;
$footer-c: #0F2647;

